<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Monday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            08:30 - 09:45
          </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item" style="cursor:pointer" onclick=window.open("https://meet.google.com/krr-dhvm-nfk")>
                            SC332 - Intro to Quantum <small>GD</small>
                        </div>
                        <div class="dropdown-item" style="cursor:pointer" onclick=window.open("https://meet.google.com/czt-reft-dqu")>
                            SC402 - Intro to Crypto. <small>MR</small>
                        </div>
                        <div class="dropdown-item" style="cursor:pointer" onclick=window.open("https://meet.google.com/cgk-ytqx-sds")>
                            SC403 - Einstein's Physics <small>AR</small>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th>2</th>
            <td>
                <button class="btn btn-default" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          10:15 - 11:30
        </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-item" style="cursor:pointer" onclick=window.open("https://meet.google.com/lookup/hphf62ctai")>
                        HM327 - Culture, Politics, Identity <small>MM</small>
                    </div>
                    <div class="dropdown-item" style="cursor:pointer" onclick=window.open( "{% url 'sorry' %}")>
                        HM401 - Visual Anthropology <small>VP</small>
                    </div>
                    <div class="dropdown-item" style="cursor:pointer" onclick=window.open("https://meet.google.com/men-nbzi-gwj")>
                        HM402 - Publics in South Asia <small>SJ</small>
                    </div>
                    <div class="dropdown-item" style="cursor:pointer" onclick=window.open("https://meet.google.com/mic-thsc-qzo")>
                        HM432 - Organisational Behaviour <small>NB</small>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th>3</th>
            <td>
                <button class="btn btn-default" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  12:00 - 13:15
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-item" style="cursor:pointer" onclick=window.open("{% url 'sorry' %}")>
                        CT474 - Satelitte Communication <small>DKG</small>
                    </div>
                    <div class="dropdown-item" style="cursor:pointer" onclick=window.open("https://meet.google.com/krz-jces-qkx")>
                        IE406 - Machine Learning <small>MVJ</small>
                    </div>
                    <div class="dropdown-item" style="cursor:pointer" onclick=window.open("https://meet.google.com/lookup/egt4emrphi")>
                        IT413 - No SQL Databases <small>PMJ</small>
                    </div>
                    <div class="dropdown-item" style="cursor:pointer" onclick=window.open("https://meet.google.com/nqg-rhoj-rbw")>
                        IT413 - Models of Computation <small>PB</small>
                    </div>
                    <div class="dropdown-item" style="cursor:pointer" onclick=window.open("https://meet.google.com/lookup/auaq2qkjlz")>
                        IT441 - Computer Graphics <small>NDJ</small>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th>4</th>
            <td>
                <button class="btn btn-default" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  02:00 - 04:00/05:00
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-item" style="cursor:pointer" onclick=window.open("{% url 'sorry' %}")>
                        Lab - CS302 <small>MT</small>
                    </div>
                </div>
            </td>
        </tr>
</table>
<script>
</script>
