
<table class="table table-striped table-bordered table-hover" >
  <thead>
    <tr>
      <th>#</th>
      <th>Satureday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>
          <button class="btn btn-default " type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            02:00 - 05:00
          </button>
          <div class='dropdown-menu'>
            <div class="dropdown-item" style="cursor:pointer"
              onclick=window.open('https://daiict.webex.com/daiict/j.php?MTID=m6d8e7d603f16bee2d0f2ef2a32850fea')>
               Lab - IT314 - SE <small>ST</small>
               <br>
               Meeting number: 158 527 4080 <br>
               Password: IT314Lab
            </div>
          </div>
      </td>
    </tr>
</tbody>

</table>
