
<table class="table table-striped table-bordered table-hover" >
  <thead>
    <tr>
      <th>#</th>
      <th>Tuesday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>
          <button class="btn btn-default " type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            08:30 - 09:45
          </button>
          <div class='dropdown-menu'>
            <div class="dropdown-item" style="cursor:pointer"
              onclick=window.open('https://daiict.webex.com/daiict/j.php?MTID=maa4bfcff62b067b3eb7204039b66e788')>
               IT314 - Software Engineering <small>ST</small>
               <br>
               <p>Meeting number: 158 957 3972 <br>
                  Password: IT314Lecture</p>
            </div>
          </div>
      </td>
    </tr>
    <tr>
      <th>2</th>
      <td>
        <button class="btn btn-default " type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Break!
        </button>

</td>
</tr>
<tr>
<th>3</th>
<td>
  <button class="btn btn-default " type="button" id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    12:00 - 13:15
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <div class="dropdown-item" style="cursor:pointer" onclick=window.open("{% url 'sorry' %}")>
       CS306 - Data Analysis and Visualization <small>PK</small>
    </div>
    <div class="dropdown-item" style="cursor:pointer" onclick=window.open("https://meet.google.com/krz-jces-qkx")>
       CT321 - Digital Signal Processing <small>MVJ</small>
    </div>
    <div class="dropdown-item" style="cursor:pointer"
      onclick=window.open('https://meet.google.com/uvd-zxnd-ijh')>
       CT478 - Speech Technology <small>HP</small>
    </div>
    <div class="dropdown-item" style="cursor:pointer" onclick=window.open("https://meet.google.com/oqx-uizz-xmh")>
       EL422 - CMOS Analog IC Design <small>AK</small>
    </div>
    <div class="dropdown-item" style="cursor:pointer"
      onclick=window.open("http://daiict.webex.com")>
      IE407 - Internet of Things <small>SS</small> <br>
      Session ID: 158 567 8493 <br>
        Password: IE407
    </div>
    <div class="dropdown-item" style="cursor:pointer" onclick=window.open("https://meet.google.com/esy-cyhz-kwo")>
       IE410 - Introduction to Robotics <small>TKM</small>
    </div>
  </div>
  </div>
</td>
</tr>

<tr>
<th>4</th>
<td>
  <button class="btn btn-default " type="button" id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    02:00 - 04:00/05:00
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <div class="dropdown-item" style="cursor:pointer" onclick=window.open("https://meet.google.com/lookup/ctbzci737b")>
        Lab - IE411 - OS <small>AMM</small>
    </div>
    <div class="dropdown-item" style="cursor:pointer" onclick=window.open("{% url 'sorry' %}")>
        Lab - CS401 <small>JM</small>
    </div>
  </div>
  </div>
</td>
</tr>

</tbody>

</table>
